<table *ngIf="users && users.length" class="users-table">
  <tr class="table-header">
    <td>#</td>
    <td>Name</td>
    <td>Username</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let user of users; let i = index" (click)="userClicked(user)" class="user-row">
    <td>{{ i + 1 }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
  </tr>
</table>

<div *ngIf="users && !users.length">
  No users found
</div>

<app-user-window [user]="user"></app-user-window>