<div *ngIf="user && user.id" (click)="closeModalClicked()" class="modal-window">
  <div class="containter-div" (click)="$event.stopPropagation()">

    <div class="close-button-container">
      <div (click)="closeModalClicked()" class="close-button">×</div>
    </div>

    <table class="details-table">
      <tr>
        <td>Name: </td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td>Username: </td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ user.email }}</td>
      </tr>
      <br>

      <tr>
        <td colspan="2" class="header-td">
          Address
        </td>
      </tr>
      <tr>
        <td>Street: </td>
        <td>{{ user.address.street }}</td>
      </tr>
      <tr>
        <td>Suite: </td>
        <td>{{ user.address.suite }}</td>
      </tr>
      <tr>
        <td>City: </td>
        <td>{{ user.address.city }}</td>
      </tr>
      <tr>
        <td>Zipcode: </td>
        <td>{{ user.address.zipcode }}</td>
      </tr>
      <tr>
        <td colspan="2" class="header-td">
          Geo
        </td>
      </tr>
      <tr>
        <td>Lat: </td>
        <td>{{ user.address.geo.lat }}</td>
      </tr>
      <tr>
        <td>Lng: </td>
        <td>{{ user.address.geo.lng }}</td>
      </tr>
      <br>

      <tr>
        <td>Phone: </td>
        <td>{{ user.phone }}</td>
      </tr>
      <tr>
        <td>Website: </td>
        <td>{{ user.website }}</td>
      </tr>
      <br>

      <tr>
        <td colspan="2" class="header-td">
          Company
        </td>
      </tr>
      <tr>
        <td>Company: </td>
        <td>{{ user.company.name }}</td>
      </tr>
      <tr>
        <td>Catch Phrase: </td>
        <td>{{ user.company.catchPhrase }}</td>
      </tr>
      <tr>
        <td>BS: </td>
        <td>{{ user.company.bs }}</td>
      </tr>
    </table>
  </div>
</div>